{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": "commonjs" // ここで sourceType を指定
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
